body {
  background-color: #009688;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  color: #fff;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  overflow: hidden;
}

.coming_wrap {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid rgba(44, 163, 202, 0.1);
  top: 35px;
  left: 35px;
  right: 35px;
  bottom: 35px;
}

.content {
  width: 60%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content h3 {
  font-size: 36px;
  line-height: 38px;
}

.content p {
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
}

.content .email {
  font-size: 22px;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .coming_wrap {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 40px;
  }

  .content h3 {
    font-size: 24px;
  }

  .content p {
    font-size: 18px;
  }

  .content .email {
    font-size: 18px;
  }
}

#particles-js {
  border-radius: 4px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.socials ul {
  list-style: none;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  color: white;
}

.socials ul a {
  color: white;
  padding: 15px 20px;
}

.socials ul a i {
  transition: transform 0.3s ease-in-out;
}

.socials ul a i:hover {
  transform: scale(1.3);
}

.copyrights {
  height: 30px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  padding-top: 7px;
}
